* {
  font-family: 'Roboto', sans-serif;
}

section {
  /* display: flex; */
  border: 2px solid red;
}

ul {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  gap: 1.5em;
  list-style-type: none;
}

.Logo {
  flex: 2;
  font-size: 1.2em;
  font-weight: bold;
  
}

main {
  display: flex;

}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  padding: .3em 1.2em;
  font-weight: bold;

}

.hero {
  font-size: 48px;
}

div {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  text-align: center;
}
