@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0em 0em;
}

header {
  background-color: #1f2937;
  padding: 1em 3em;
}

ul {
  display: flex;
  color: #f9faf8;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.logo {
  font-size: 24px;
  flex: 5;
  justify-self: left;
  font-weight: 700;
}

.nav-link {
  font-size: 18px;
  flex: 1;
  text-align: right;
}

.main {
  background-color: #1f2937;
  color: #f9faf8;
}

h1 {
  margin: 0;
}

/*
dark background color (hero and footer)
#1F2937

Hero Main text ("this website is awesome")
48px extra-bold #F9FAF8

Hero Secondary text, Header Link Text
18px #E5E7EB

Header Logo Text
24px #F9FAF8

Button color, call to action background color
#3882F6

information header text
36px extra-bold #1F2937

Quote section background color
#ESE7EB

Quote text
36px light italic #1F2937 */

/*
* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
nav {
  color: #f9faf8;
  background-color: #1f2937;
}

.Logo {
  font-size: 24px;
  flex: 2;
  font-size: 1.2em;
  font-weight: bold;
}

ul {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  gap: 1.5em;
  list-style-type: none;
  font-size: 18px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

main {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
}

main > p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  padding: .3em 1.2em;
  font-weight: bold;

}

.hero {
  font-size: 48px;
}

div {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

p {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 1em;
  border-radius: 5px;
  font-size: 36px;
  font-weight: thin;
  font-style: italic;
}

cite {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  display: block;
  margin-top: 1em;
}

footer {
  display: flex;
}

footer > div {
  display: block;
}
 */