* {
  font-family: 'Roboto', sans-serif;
}

section {
  /* display: flex; */
  border: 2px solid red;
}

ul {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  gap: 1.5em;
  list-style-type: none;
}

.Logo {
  flex: 2;
  font-size: 1.2em;
  font-weight: bold;
  
}

main {
  display: flex;
  background-color: #1f2937;

}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  padding: .3em 1.2em;
  font-weight: bold;

}

.hero {
  font-size: 48px;
}

div {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  text-align: center;
}

footer {
  display: flex;
}

footer > div {
  display: block;
}


/* colors and font styles
dark background color (hero and footer)
#1F2937
Hero Main text ("this website is awesome")
48px extra-bold #F9FAF8
Hero Secondary text, Header Link Text 18px #E5E7EB
Header Logo Text
24px #F9FAF8
Button color, call to action background color
#3882F6
information header text
36px extra-bold #1F2937
Quote section background color
#ESE7EB
Quote text
36px light italic #1F2937 */